@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 10px;
}

/* ::-webkit-scrollbar-thumb:hover {
    background: #6556cd;
    border-radius: 10px;
} */